{% extends 'core/base.html'%}
{% load static %}

{% block css%}
{% endblock %}

{% block content %}
<div class="card-group">
  <div class="card bg-dark">
      <div class="card-header bg-azul naranja">
          <h4><i class="fab fa-battle-net naranja"></i>&nbsp;Contrase&ntilde;a actualizada</h4>
      </div>
  </div>
</div>


<div class="container-fluid mt-5">
  <div class="row">
      <!-- Menu lateral de columnas-->
      <div class="col-sm-12 col-md-8 m-auto">
        <h5 class="text-center">
          Ya puedes iniciar sesi&oacute;n 
          <a href="{% url 'core:home' %}"> aqu&iacute;</a>
        </h5>        
      </div>
  </div>
</div>
<br>

{% endblock %}
