{% extends 'core/base.html'%}
{% load static %}

{% block css%}
{% endblock %}

{% block content %}
<div class="card-group">
  <div class="card bg-dark">
      <div class="card-header bg-azul naranja">
          <h4><i class="fab fa-battle-net naranja"></i>&nbsp;Restaurar contrase&ntilde;a</h4>
      </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
      <!-- Menu lateral de 3 columnas-->
      <div class="col-sm-12 col-md-8 text-center m-auto">
        <form action="" method="POST">
          {% csrf_token %}
          <p class="text-center">
            Ingrese su email abajo y le enviaremos las instrucciones para configurar una nueva contrase&ntilde;a.
          </p>
          {{ form.email.errors }}
          <p><input type="email" name="email" required id="id_email" class="form-control" placeholder="Ingrese Email"/></p>
          <p><input type="submit" class="btn btn-primary" id="solicitar" value="Solicitar"></p>
        </form>
      </div>
  </div>
</div>
<br>
{% endblock %}