{% extends 'core/base.html'%}
{% load static %}

{% block css%}
{% endblock %}

{% block content %}
<div class="card-group">
  <div class="card bg-azul">
      <div class="card-header bg-azul naranja">
          <h4><i class="fab fa-battle-net"></i>&nbsp;Contrase&ntilde;a enviada</h4>
      </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
      <!-- Menu lateral de columnas-->
      <div class="col-sm-12 col-md-8 text-center m-auto">
          <p class="text-justify">
            Hemos enviado instrucciones por correo electr&oacute;nico para restablecer su contrase&ntilde;a,
            si hay una cuenta con la direcci&oacute;n de correo electr&oacute;nico que proporcion&oacute;, 
            deber&iacute;as recibirlas pronto.
          </p>
      </div>
  </div>
</div>
<br>
{% endblock %}