{% extends 'core/base.html'%}
{% load static %}

{% block css%}
<style>
    .errorlist{color: red;}
</style>
{% endblock %}

{% block content %}
<div class="card-group">
  <div class="card bg-azul">
      <div class="card-header bg-azul naranja">
          <h4><i class="fab fa-battle-net naranja"></i>&nbsp;Cambio de contrase&ntilde;a</h4>
      </div>
  </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-8 m-auto">
            <form action="" method="POST">
                {% csrf_token %}

                <p>Por favor, introduzca su contrase&ntilde;a antigua por seguridad, y despu&eacute;s introduzca dos
                    veces la nueva contrase&ntilde;a para verificar que la ha escrito correctamente.</p>
                {{ form.old_password.errors }}
                <p><input type="password" name="old_password" autofocus="" required id="id_old_password"
                        class="form-control" placeholder="Contraseña antigua"></p>

                {{ form.new_password1.errors}}
                <p><input type="password" name="new_password1" required id="id_new_password1" class="form-control"
                        placeholder="Contraseña nueva"></p>

                {{ form.new_password2.errors}}
                <p><input type="password" name="new_password2" required id="id_new_password2" class="form-control"
                        placeholder="Confirmar contraseña"></p>

                <p><input type="submit" class="btn btn-success btn-block" value="Cambiar contraseña"></p>
            </form>
        </div>
    </div>
</div>
<br>
{% endblock %}