{% extends 'core/base.html'%}
{% load static %}

{% block css%}
{% endblock %}

{% block content %}
<div class="card-group">
  <div class="card bg-azul">
      <div class="card-header bg-azul naranja">
          <h4><i class="fab fa-battle-net naranja"></i>&nbsp;Definir nueva contrase&ntilde;a</h4>
      </div>
  </div>
</div>


<div class="container-fluid mt-5">
  <div class="row">
      <!-- Menu lateral de columnas-->
      <div class="col-sm-12 col-md-8 m-auto">
        {% if validlink %}
        <form action="" method="POST">
          {% csrf_token %}         
            <div>
              {{ form.new_password1.errors }}
              <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Ingrese su contraseña"></p>
              {{form.new_password2.errors}}
              <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repita su contraseña"></p>            
            </div>          
            <input type="submit" id="actualizar" class="btn btn-primary" value="Actualizar">        
        {% else %}
          <h5>Lo sentimos, el link de restablecimiento ha expirado.</h5><br>
          <p><a href="{% url 'password_reset' %}" class="btn btn-success">Solicitar nuevamente</a></p>
        {% endif %}
      </div>
  </div>
</div>
<br>

{% endblock %}