{% extends 'core/base.html'%}
{% load static %}

{% block css%}
{% endblock %}

{% block content %}
<div class="card-group">
  <div class="card bg-azul">
      <div class="card-header bg-azul naranja">
          <h4><i class="fab fa-battle-net naranja"></i>&nbsp;Contrase&ntilde;a actualizada correctamente.</h4>
      </div>
  </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-8 text-center m-auto">
            <p class="alert alert-info">Puedes volver al inicio <a href="{% url 'core:listar' %}" class="text-primary">aqu&iacute;</a></p>
        </div>
    </div>
</div>
<br>
{% endblock %}