{% extends 'base.html'%}

{% load static %}

{% block css%}     
{% endblock %}

{% block content %}
<section class="row">
    <section class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'users_app:index' %}" class="azul">Inicio</a>
                </li>
                <li class="breadcrumb-item azul" aria-current="page">
                    Listado de Tareas
                </li>
            </ol>
        </nav>
    </section>
</section>

<section class="container-fluid shadow rounded px-3">
</section>
    
{% endblock %}
