{% extends 'base.html'%}

{% load static %}

{% block css%}    
<style>
    textarea{
        resize: none;
    }
</style>        
{% endblock %}

{% block content %}
<section class="row">
    <section class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'users_app:index' %}" class="azul">Inicio</a>
                </li>
                <li class="breadcrumb-item azul" aria-current="page">
                    Registrar Tarea
                </li>
            </ol>
        </nav>
    </section>
</section>

<section class="container-fluid shadow rounded px-3">
    <h1 class="text-center azul pt-3">Registrar <span class="font-weight-bold">Nueva Tarea</span></h1>
    <hr class="mt-3 mx-auto">
    
    <section>
        <form action="" method="POST" class="mx-auto azul p-3 rounded-lg">
            {% csrf_token %}

            <section class="mb-3 mt-3 form-row">
                <section class="from-group col-6">
                    <label for="id_fecha" class="form-label">Fecha de la tarea:</label>
                    <input type="date" name="fecha" id="id_fecha" class="form-control" required>
                </section>

                <section class="from-group col-6">
                    <label for="id_tipo" class="form-label">Tipo de tarea:</label>
                    <select name="tipo" id="id_tipo" class="form-control">
                        <option value="0">Tarea Operativa</option>
                        <option value="1">Tarea Programada</option>
                        <option value="2">Disturbio / Falla</option>
                    </select>
                </section>
            </section>

            <section class="mb-5">
                <label for="id_descripcion" class="form-label">Descripción:</label>
                <textarea class="form-control" name="descripcion" id="id_descripcion" required rows="10"></textarea>
            </section>            
            
            <section class="mb-3">
                <button type="submit" class="btn btn-primary w-50">
                    <i class="fas fa-save"></i>&nbsp;&nbsp;REGISTRAR TAREA
                </button>
            </section>
            
        </form>        
    </section>
</section>
    
{% endblock %}
