{% load static %}
<!-- Barra NAV Superior-->
<nav class="bg-azul">
    <a href="{% url 'users_app:index' %}" class="azul">
        <img src="{% static 'img/logo_nav.png' %}" class="ml-3 reducir">
    </a>
    <div class="float-right mt-5">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown mr-3" >
                    <a href="#" class="nav-link dropdown-toggle naranja" data-toggle="dropdown">
                        <i class="fa fa-user naranja"></i>&nbsp;
                        @{{ user.nombre }} {{ user.apellido}}
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'users_app:user_logout' %}" class="dropdown-item">
                            <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Salir
                        </a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'users_app:user_login' %}" class="naranja mr-5">
                        <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Login                            
                    </a>
                    <a href="{% url 'users_app:user_register' %}" class="naranja mr-5">
                        <i class="fa fa-user naranja"></i>&nbsp;&nbsp;Registrarse                      
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- FIN Barra NAV Superior-->