{% extends 'base.html'%}
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header bg-azul naranja">
        <h4><i class="fab fa-battle-net"></i>&nbsp;&nbsp;Unidad Operaciones de Red de N&uacute;cleo</h4>
    </div>
</div>

<div class="card mt-3 shadow">
    <div class="card-body">
        <div class="text-center">
            <p style="font-size: 8rem;" class="font-weight-bold azul">
                NetOps
            </p>
            <p>
                <span style="font-size: 8rem;">
                    <i class="fas fa-laptop-code azul fa-lg"></i>
                </span>
            </p>
        </div>
    </div>
</div>
{% endblock %}


