{% extends 'base.html'%}

{% load static %}

{% block css%}    
<style>
    .bordered-section{
        border: 2px solid #18265A;
        padding: 2rem;
        margin-top: 3rem;
    }
    .section-title{
        top: -1rem;
        left: 1rem;
        background: #FFF;
        padding: 0 1rem;
        font-weight: bold;
    }
</style>        
{% endblock %}

{% block content %}
<section class="row">
    <section class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'users_app:index' %}" class="azul">Inicio</a>
                </li>
                <li class="breadcrumb-item azul" aria-current="page">
                    Actualizar
                </li>
            </ol>
        </nav>
    </section>
</section>

<section class="container-fluid shadow rounded pt-3 pb-3">
    <h1 class="text-center azul">Actualizar datos de VPN</h1>
     
    <section>
        <form action="" method="post" class="mx-auto azul p-3 rounded-lg">
            {% csrf_token %}

            <section class="mb-3">
                <label class="form-label" for="id_con_sitio_central">¿VPN con sitio central?</label>
                <input type="checkbox" class="form-check" name="con_sitio_central" id="id_con_sitio_central" {% if form.instance.con_sitio_central %}checked{% endif %}>
            </section>            

            <section id="con_sitio_central" class="mb-3">
                <!-- CON SITIO CENTRAL -->
                <section class="mb-3 w-50">
                    <label for="id_vpn_instance" class="form-label">VPN instance:</label>
                    <input type="text" name="vpn_instance" class="form-control" maxlength="20" id="id_vpn_instance" value="{%if form.instance.vpn_instance %}{{form.instance.vpn_instance}}{%endif%}">
                </section>
            
                <section class="bordered-section position-relative mb-3 rounded">
                    <h2 class="section-title position-absolute azul">ARMADO DE BGP</h2>

                    <section class="mt-3 mb-3 form-row">
                        <section class="from-group col-6">
                            <label for="id_tinco_movil" class="form-label">Nro. de trámite Tinco móvil:</label>
                            <input type="text" class="form-control" name="tinco_movil" maxlength="10" id="id_tinco_movil" value="{%if form.instance.tinco_movil%}{{form.instance.tinco_movil}}{%endif%}">
                        </section>
                        <section class="from-group col-6">
                            <label for="id_route_distinguisher" class="form-label">Route distinguisher:</label>
                            <input type="text" name="route_distinguisher" maxlength="8" class="form-control" id="id_route_distinguisher" value="{%if form.instance.route_distinguisher%}{{form.instance.route_distinguisher}}{%endif%}" >
                        </section>
                    </section>

                    <section class="mb-3 form-row">
                        <section class="from-group col-6">
                            <label for="id_vprn_id" class="form-label">VPRN Id:</label>
                            <input type="text" name="vprn_id" class="form-control" maxlength="8" id="id_vprn_id" value="{%if form.instance.vprn_id%}{{form.instance.vprn_id}}{%endif%}" >
                        </section>
                    </section>

                    <section class="mb-3 form-row">
                        <section class="from-group col-6">
                            <label for="id_ip_mag" class="form-label">IP de MAG:</label>
                            <input type="text" name="ip_mag" maxlength="15" class="form-control" id="id_ip_mag" value="{%if form.instance.ip_mag%}{{form.instance.ip_mag}}{%endif%}">
                        </section>
                        <section class="from-group col-6">
                            <label for="id_peer_mag" class="form-label">Peer de MAG:</label>
                            <input type="text" name="peer_mag" class="form-control" maxlength="15" id="id_peer_mag" value="{%if form.instance.peer_mag%}{{form.instance.peer_mag}}{%endif%}">
                        </section>
                    </section>

                    <section class="mb-3 form-row">
                        <section class="from-group col-6">
                            <label for="id_ip_mun" class="form-label">IP de MUN:</label>
                            <input type="text" name="ip_mun" class="form-control" maxlength="15" id="id_ip_mun" value="{%if form.instance.ip_mun%}{{form.instance.ip_mun}}{%endif%}" >
                        </section>
                        <section class="from-group col-6">
                            <label for="id_peer_mun" class="form-label">Peer de MUN:</label>
                            <input type="text" name="peer_mun" class="form-control" maxlength="15" id="id_peer_mun" value="{%if form.instance.peer_mun%}{{form.instance.peer_mun}}{%endif%}" >
                        </section>
                    </section>
                </section>            
            </section>

            <!-- Conectividad de móviles: FullMesh ó Hub&Spoke-->
            <section id="conectividad_moviles" class="mb-3 w-50">
                <label for="id_conectividad_entre_moviles" class="form-label">Conectividad entre móviles:</label>
                <select name="conectividad_entre_moviles" id="id_conectividad_entre_moviles" class="form-control">                    
                    <option value="1" {% if form.instance.conectividad_entre_moviles == "1" %}selected{% endif %}>Full mesh</option>
                <option value="2" {% if form.instance.conectividad_entre_moviles == "2" %}selected{% endif %}>Hub & spoke</option>
                </select>
            </section>

            <section class="bordered-section position-relative mb-3 rounded" id="armado_acl">
                <h2 class="section-title position-absolute azul">ARMADO DE ACL</h2>

                <section class="mb-3 mt-3 form-row">
                    <section class="from-group col-6">
                        <label for="id_nombre_pool" class="form-label">Nombre del pool:</label>
                        <input type="text" name="nombre_pool" class="form-control" maxlength="15" id="id_nombre_pool" value="{%if form.instance.nombre_pool%}{{ form.instance.nombre_pool}}{%endif%}" >
                    </section>
                    <section class="from-group col-6">
                        <label for="id_acl_node" class="form-label">ACL Node:</label>
                        <input type="text" name="acl_node" class="form-control" maxlength="15" id="id_acl_node" value="{%if form.instance.acl_node%}{{ form.instance.acl_node}}{%endif%}">
                    </section>
                </section>

                <section class="mb-3 form-row">
                    <section class="from-group col-6">
                        <label for="id_server_ip" class="form-label">Server IP:</label>
                        <input type="text" name="server_ip" class="form-control" maxlength="15" id="id_server_ip" value="{%if form.instance.server_ip%}{{ form.instance.server_ip}}{%endif%}">
                    </section>
                    <section class="from-group col-6">
                        <label for="id_wildcard" class="form-label">Wildcard:</label>
                        <input type="text" name="wildcard" class="form-control" maxlength="15" id="id_wildcard" value="{%if form.instance.wildcard%}{{ form.instance.wildcard}}{%endif%}">
                    </section>
                </section>

                <section class="mb-3 form-row">
                    <section class="from-group col-6">
                        <label for="id_nombre_acl" class="form-label">Nombre de ACL:</label>
                        <input type="text" name="nombre_acl" class="form-control" maxlength="30" id="id_nombre_acl" value="{%if form.instance.nombre_acl%}{{ form.instance.nombre_acl }}{%endif%}">
                    </section>
                    <section class="from-group col-6">
                        <label for="id_prioridad" class="form-label">Prioridad:</label>
                        <input type="number" name="prioridad" class="form-control" min="0" id="id_prioridad" value="{%if form.instance.prioridad%}{{ form.instance.prioridad}}{%endif%}">
                    </section>
                </section>
            </section>


            <section id="sin_sitio_central" class="mb-3">
                <!-- SIN SITIO CENTRAL -->
                <section class="bordered-section position-relative mb-3 rounded" id="armado_acl">
                    <h2 class="section-title position-absolute azul">ARMADO DEL POOL DE MÓVILES</h2>

                    <section class="mb-3 form-row">
                        <section class="from-group col-6">
                            <label for="id_nombre_pool_moviles" class="form-label">Nombre del pool de móviles:</label>
                            <input type="text" name="nombre_pool_moviles" class="form-control" maxlength="15" id="id_nombre_pool_moviles" value="{%if form.instance.nombre_pool_moviles%}{{ form.instance.nombre_pool_moviles}}{%endif%}">
                        </section>
                    </section>
                    <h4 class="lead">IP fijas: mismo rango de IPs en MAG y MUN</h4>
                    <h4 class="lead">IP dinámicas: mitad del rango de IPs para MAG y la otra mitad del rango de IPs para MUN</h4>
                    
                    <section class="mb-3 form-row">
                        <section class="from-group col-6 mt-3">
                            <label for="id_primer_ip_mag" class="form-label">Primera IP de MAG:</label>
                            <input type="text" name="primer_ip_mag" class="form-control" maxlength="15" id="id_primer_ip_mag" value="{%if form.instance.primer_ip_mag%}{{ form.instance.primer_ip_mag }}{%endif%}">
                        </section>
                        <section class="from-group col-6 mt-3">
                            <label for="id_ultima_ip_mag" class="form-label">Última IP de MAG:</label>
                            <input type="text" name="ultima_ip_mag" class="form-control" maxlength="15" id="id_ultima_ip_mag" value="{%if form.instance.ultima_ip_mag%}{{ form.instance.ultima_ip_mag }}{%endif%}">
                        </section>
                    </section>

                    <section class="mb-3 form-row">
                        <section class="from-group col-6">
                            <label for="id_primer_ip_mun" class="form-label">Primera IP de MUN:</label>
                            <input type="text" name="primer_ip_mun" class="form-control" maxlength="15" id="id_primer_ip_mun" value="{%if form.instance.primer_ip_mun%}{{ form.instance.primer_ip_mun }}{%endif%}">
                        </section>
                        <section class="from-group col-6">
                            <label for="id_ultima_ip_mun" class="form-label">Última IP de MUN:</label>
                            <input type="text" name="ultima_ip_mun" class="form-control" maxlength="15" id="id_ultima_ip_mun" value="{%if form.instance.ultima_ip_mun%}{{ form.instance.ultima_ip_mun }}{%endif%}">
                        </section>
                    </section>

                    <section class="mb-3 form-row">
                        <section class="from-group col-6">
                            <label for="id_apn" class="form-label">APN:</label>
                            <input type="text" name="apn" maxlength="15" class="form-control" id="id_apn" value="{{ form.instance.apn }}">                            
                        </section>
                        <section class="from-group col-4 ml-3">
                            <label for="id_roaming" class="form-label">¿ Roaming ?</label>
                            <input type="checkbox" name="roaming" class="form-check form-lg ml-3" id="id_roaming" {% if form.instance.roaming %}checked{% endif %}>
                        </section>
                    </section>

                    <section class="mb-3 form-row">
                        <section class="from-group col-6">
                            <label for="id_dns_1" class="form-label">Prmer DNS:</label>
                            <input type="text" name="dns_1" class="form-control" maxlength="15" id="id_dns_1" value="{%if form.instance.dns_1%}{{ form.instance.dns_1 }}{%endif%}">
                        </section>
                        <section class="from-group col-6">
                            <label for="id_dns_2" class="form-label">Segundo DNS:</label>
                            <input type="text" name="dns_2" class="form-control" maxlength="15" id="id_dns_2" value="{%if form.instance.dns_2%}{{ form.instance.dns_2 }}{%endif%}">
                        </section>
                    </section>
                </section>

                <section class="bordered-section position-relative mb-3 rounded" id="armado_acl">
                    <h2 class="section-title position-absolute azul">DATOS DE PLANILLA</h2>

                    <section class="mb-3 mt-3 form-row">
                        <section class="from-group col-6">
                            <label for="id_cliente_acm" class="form-label">Cliente en ACM:</label>
                            <input type="text" name="cliente_acm" class="form-control" maxlength="15" id="id_cliente_acm" value="{%if form.instance.cliente_acm%}{{ form.instance.cliente_acm }}{%endif%}">
                        </section>
                        <section class="from-group col-6">
                            <label for="id_apn_id" class="form-label">APN ID:</label>
                            <input type="number" min="0" name="apn_id" class="form-control" id="id_apn_id" value="{%if form.instance.apn_id%}{{ form.instance.apn_id }}{%endif%}">
                        </section>
                    </section>

                    <section class="mb-3 form-row">
                        <section class="from-group col-6">
                            <label for="id_tinco_fija" class="form-label">Nro. trámite de TINCO fija:</label>
                            <input type="text" name="tinco_fija" class="form-control" maxlength="15" id="id_tinco_fija" value="{%if form.instance.tinco_fija%}{{ form.instance.tinco_fija }}{%endif%}">
                        </section>
                    </section>
                </section>

                <section class="bordered-section position-relative mb-3 rounded" id="armado_acl">
                    <h2 class="section-title position-absolute azul">DATOS DEL CLIENTE</h2>

                    <section class="mb-3 mt-3 form-row">
                        <section class="from-group col-6">
                            <label for="id_empresa" class="form-label">Contacto de la empresa:</label>
                            <input type="text" name="empresa" class="form-control" maxlength="100" id="id_empresa" value="{%if form.instance.empresa%}{{ form.instance.empresa }}{%endif%}">
                        </section>
                        <section class="from-group col-6">
                            <label for="id_ip_router" class="form-label">IP del router del cliente:</label>
                            <input type="text" name="ip_router" class="form-control" maxlength="15" id="id_ip_router" value="{%if form.instance.ip_router%}{{ form.instance.ip_router }}{%endif%}">
                        </section>
                    </section>
                    <section class="mb-3">
                        <label for="id_contacto" class="form-label">Forma de contacto:</label>
                        <input type="text" name="contacto" class="form-control" maxlength="200" id="id_contacto" value="{%if form.instance.contacto%}{{ form.instance.contacto }}{%endif%}">
                    </section>
                </section>
            </section>

            <section class="mb-3 mt-5">
                <button type="submit" class="btn btn-primary w-50">
                    <i class="fas fa-save"></i>&nbsp;&nbsp;ACTUALIZAR VPN
                </button>
            </section>
            
        </form>        
    </section>
</section>
    
{% endblock %}
